
@use 'base/variables' as v;
@use 'base/mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body{
    min-height: 100%;
    @include m.tablet{
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    color: v.$blanco;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: v.$azul;
    border: 1px solid v.$blanco;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
}
