
@use 'variables' as v;

h1, h2, h3, h4{
    font-family: v.$fuente_principal;
    font-style: italic;
    margin: 0 0 calc(v.$separacion / 2) 0;
    font-weight: 900;
    color: v.$negro;
    text-align: center;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
p{
    color: v.$negro;
    font-size: 2rem;
}

