
@use 'variables' as v;

h1, h2, h3{
    font-family: v.$fuente_principal;
    font-style: italic;
    margin: 0 0 calc(v.$separacion / 2) 0;
    font-weight: 900;
    // color: v.$negro;
    // text-align: center;
}

h1{
    font-size: 5rem;
    color: v.$naranja;
    text-shadow: 9px 5px 15px rgba(0,0,0,0.6);
    

}
h2{
    font-size: 3.6rem;
    color: v.$rojo;
}
h3{
    font-size: 3rem;
    color: v.$negro;
}
p{
    color: v.$negro;
    font-size: 2rem;
}

