//Fuentes
$fuente_principal: "Montserrat", serif;

//Tamaño de Media Query
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Color
$azul: #e9f8fe;
$rojo: #cb0000;
$verde: #329f00;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$violeta:#4B0082;
$rosa:#ebc2e9;
$naranja: #FF7F50;
$amarillo: #e6dfbd;

$separacion: 5rem;

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;