header{
    margin: 10px;
}



.logo{
    height: 150px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;

}
        
.titulo{
    height: 150px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.producto{
    margin: 10px;
}
        
        
.producto-img {
    height: 150px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
        
.descripcion {
    height: 150px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla-sorteo td {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.tabla-sorteo td:hover{
    background: #e9ecef;
}

.tabla-sorteo td.seleccionado {
    background-color: #198754;
    color: white;
    font-weight: bold;
    /* pointer-events: none; */
}

.lista-num li{
    list-style: none;
    font-weight: bold;

}