@use 'base/variables' as v;
@use 'base/mixins' as m;

.registro{
    margin-top: 5rem;
}

    .formulario{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "datos datos"
            "lista precio"
            "comprar comprar";
        column-gap: 4rem;
        row-gap: 3rem;
        width: 100%;

        .formulario-datos{
            grid-area: datos;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;

            .campo {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                label{
                    font-size: 2rem;
                    white-space: nowrap;
                    color: v.$negro;

                }
                input{
                    flex: 1;
                    font-size: 2rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    border: none;

                    &:disabled{
                        color: v.$blanco;
                        cursor: not-allowed;
                    }

                    &.input-error {
                        border: 2px solid #ff4d4f;
                        background-color: #fff1f0;
                    }

                }
            }                   
        }
    }

    .lista {
        grid-area: lista;

        .lista-titulo {
            font-size: 3rem;
            font-family: v.$fuente_principal;
            font-style: italic;
            margin-bottom: 1rem;
            font-weight: v.$black;
            color: v.$naranja;
        }

        .lista-num {
            list-style: none;
            padding: 0;
            margin: 0;
            color: v.$negro;

            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(3, auto);
            column-gap: 3rem;
            row-gap: .5rem;

            li {
                font-size: 1.8rem;
                text-align: left;
                font-weight: v.$black;
            }
        }
    }

    span{
        color: #ff4d4f;
        font-size: 1.2rem;
        margin: .5rem 0 0 0;
    } 


    .precio{
        grid-area: precio;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-self: start;

        label{
            font-size: 2rem;
            color: v.$rojo;
            font-weight: v.$black;
        }
        input{
            font-size: 2rem;
            border: none;
            padding: calc(v.$separacion / 4);
            border-radius: 1rem;

            &:disabled{
                color: v.$blanco;
                cursor: not-allowed;
            }
        }
        
        .comprar{
            grid-area: comprar;
            justify-self: center;
            padding: 1.2rem 4rem;
            font-size: 2rem;
            border: none;
            border-radius: 1rem;
            background-color: v.$naranja;
            color: v.$blanco;
            cursor: pointer;
    
            &:hover {
                opacity: 0.9;
            }
        } 
    }